.Blog-card{
    padding: 10px;
    margin: 10px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    width: 300px;
    border-radius: 20px;
     
}
.Blog-card:hover{
    background-color: #97D9E1;
    background-image: linear-gradient(0deg, #97D9E1 0%, #D9AFD9 100%);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0);
}

.blog-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
}

.blog-content{
    font-size: 18px;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
}